*{
  margin: 0;
  padding: 0;
  color:white;
}

QMenuBar {
  padding: 5px;
  background-color: rgb(21,83,109);
}

QMenuBar::item:selected, QMenu::item:selected{
  background-color: rgb(21,83,109);
}

QHBoxLayout {
  border: 1px solid red;
}
