
* {
    background-color: #FF9900;
}

QPushButton {
    background-color: #2b78e4;
}

QMenuBar {
    background-color: #FFFFFF;
}

QTabWidget::pane {
    position: absolute;
    border: 0 solid white;
    margin: -13px -9px -13px -9px;
}

QTabWidget::tab-bar{
    alignment: center;
}

QTabBar::tab {
    margin-top: 5px;
    background-color: #2b78e4;
    border: 1 solid black;
    height: 50px;
    width: 50ex;
    margin-bottom: 10px;
}

QTabBar::tab:selected {
    background-color: #999999;
}

QLabel {
    qproperty-alignment: AlignCenter;
}

DigitalClock {
    background-color: #000000;
}
