DigitalClock#orologio {
    background-color: #FF9900;
    border: 0;
    color: #000000;
    min-width: 180;
    min-height: 180;
    margin-top: -100;
}

QAbstractButton {
    font: 20px Roboto;
    color: #000000;
}

QDateEdit {
    background-color: #FFFFFF;
    font-size: 20px;
    height: 50;
    margin-bottom: 1;
}

QHeaderView {
    font: 18px Roboto;
    background-color: #FFFFFF;
}

QLabel {
    font: 20px Roboto;
    qproperty-alignment: AlignCenter;
}

QLabel#ComandaId {
    background-color: #008000;
}

QLabel#concluse {
    qproperty-alignment: AlignCenter;
    margin-top: 2;
    margin-bottom: 2;
}

QLabel#guadagnoPerdita {
    qproperty-alignment: AlignCenter;
    margin-top: 8;
    margin-bottom: 2;
}

QLabel#inEsecuzione {
    qproperty-alignment: AlignCenter;
    margin-top: 2;
    margin-bottom: 2;
}

QLabel#labelsMenu {
    qproperty-alignment: AlignCenter;
    margin-top: 2;
    margin-bottom: 2;
}

QLabel#Orario {
    background-color: #008000;
}

QLabel#scegliPeriodo {
    qproperty-alignment: AlignCenter;
    margin-top: 8;
    margin-bottom: 4;
}

QLineEdit {
    background-color: #FFFFFF;
}

QLineEdit#mGuadagno {
    font-size: 40px;
    height: 55;
}

QMenu {
    background-color: #FFFFFF;
}

QMenu::item:selected {
    background-color: #dddddd;
    color: #000000;
}

QMenuBar {
    background-color: #FFFFFF;
}

QPushButton#Articolo {
    height: 75;
    margin: 10 10 10 10;
    background-color: #2b78e4;
}

QPushButton#Calcola {
    height: 95;
    width: 200;
    background-color: #2b78e4;

}

QPushButton#Completata {
    background-color: #2b78e4;
}

QPushButton#Consumabile {
    height: 75;
    margin: 10 10 10 10;
    background-color: #2b78e4;
}

QPushButton#FineModifica {
    height: 75;
    margin: 10 10 10 10;
    background-color: #2b78e4;
}

QPushButton#Modifica {
    height: 75;
    margin: 10 10 10 10;
    background-color: #2b78e4;
}

QPushButton#modificaDati {
    background-color: #2b78e4;
    height: 75;
}

QPushButton#newArticolo {
    background-color: #2b78e4;
    height: 75;
}

QPushButton#newComanda {
    background-color: #2b78e4;
}

QPushButton#Rimuovi {
    background-color: #AB0000;
}

QPushButton#wrapperComanda {
    background-color: #008000;
    width: 240;
    height: 200;

}

QScrollArea {
    background-color: #FFFFFF;
    border: 1 solid black;
    margin: 2 10 2 10;
}

QTableWidget{
    border: 1 solid black;
    background-color: #FFFFFF;
    margin: 0 20%;
}

QTabBar::tab {
    margin-top: 5px;
    background-color: #2b78e4;
    border: 1 solid black;
    height: 50px;
    width: 40ex;
    margin-bottom: 10px;
    font: 20px Roboto;
}

QTabBar::tab:selected {
    background-color: #999999;
}

QTabWidget::pane {
    position: absolute;
    border: 0 solid white;
}

QTabWidget::tab-bar{
    alignment: center;
}

QWidget#checkboxWrapper {
    background-color: #FFFFFF;
}

QWidget#paginaComanda {
    background-color: #FF9900;
}

QWidget#Pizzeria {
    background-color: #FF9900;
}

QWidget#wrapperEseguite {
    background-color: #FFFFFF;
}

QWidget#wrapperInEsecuzione {
    background-color: #FFFFFF;
}
